footer.footer
    .footer__logo
        //- img(src='/img/logo-green.png' alt='tourbyte logo')
    ul.footer__nav
        li: a(href='#') About us
        li: a(href='#') API
        li: a(href='#') Github
        li: a(href='#') Become a guide
    p.footer__copyright &copy; Devanshu Raj